* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  text-align: center;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: #f1f2f3;
}

ul {
  list-style-type: circle;
  display: inline-flex;
  margin: 0rem 1rem;
  padding: 0;
}

h1 {
  font-size: 9rem;
  color: rgb(232, 112, 1);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: rgb(121, 121, 121) 0 4px 6px;
}

ul li {
  list-style: none;
  padding: 10px 30px;
  box-shadow: 0 4px 6px;
  margin-bottom: 8px;
  color: rgb(60, 127, 252);
}
